
@{
    ViewBag.Title = "HR Personnel";
}

<h2>HR Personnel</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Job Title</label><br>
                                        <input type="text" id="jobTitle" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Short Description</label><br>
                                        <input type="text" id="shortDes" />
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Department</label><br>
                                        <input type="text" id="dep" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Position</label><br>
                                        <input type="text" id="position" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Reqired Skills</label><br>
                                        <input type="text" id="dep" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Image (Relating job)</label><br>
                                        <input type="file" value="Browse" id="position" />
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Apply Till</label><br>
                                        <input type="date" id="applyDate" />

                                    </div>
                                    <div class="col-md-6">
                                        <label>Long Description</label><br>
                                        <textarea id="longDescription"></textarea>

                                    </div>

                                </div>
                                <br /><button type="submit" class="btn btn-success">Advertise</button>
