
@{
    ViewBag.Title = "HR Personnel";
}

<h2>HR Personnel</h2>
<form action="#">
  
            <nav class="navbar-aside navbar-static-side " id="menu">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="sidebar-collapse">

                            <ul class="nav" id="side-menu" style="background-color:#2E3338">

                                <li class="active">
                                    <a href="/HRPersonnel\Index"><i class="fa fa-th-large"></i> <span class="nav-label">Advertise Job </span><span class="fa arrow"></span><span class="label label-rouded pull-right p1-bg note-icon">6</span></a>

                                </li>

                                <li>
                                    <a href="/HRPersonnel\Applications"><i class="fa fa-cog"></i> <span class="nav-label">Applications </span><span class="label label-rouded pull-right p3-bg note-icon">New 40+</span></a>

                                </li>
                                <li>
                                    <a href="/HRPersonnel\JobCall"><i class="fa fa-envelope"></i> <span class="nav-label">Call for job </span><span class="fa arrow"></span></a>

                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="text-center">
                                    <span class="text-left">Fill with Appropriate info</span>
                                    <span class="col-lg-offset-4"><b>Add Job Info Here</b></span>
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Job Title</label><br>
                                        <input type="text" id="jobTitle" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Short Description</label><br>
                                        <input type="text" id="shortDes" />
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Department</label><br>
                                        <input type="text" id="dep" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Position</label><br>
                                        <input type="text" id="position" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Reqired Skills</label><br>
                                        <input type="text" id="dep" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Image (Relating job)</label><br>
                                        <input type="file" value="Browse" id="position" />
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Apply Till</label><br>
                                        <input type="date" id="applyDate" />

                                    </div>
                                    <div class="col-md-6">
                                        <label>Long Description</label><br>
                                        <textarea id="longDescription"></textarea>

                                    </div>

                                </div>
                                <br /><button type="submit" class="btn btn-success">Advertise</button>


                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        
</form>
