
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}




    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="text-center">
                            @*<span class="text-left">Fill with Appropriate info</span>*@
                            <span class="col-lg-offset-4"><b>Login With your Deatails</b></span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">


                            <form  id="loginForm" method="post" action="javascript:checkRole();">


                                <select id="role"  >
                                    <option value="">Select Role</option>
                                    <option value="HR Personal">HR Personal</option>
                                    <option value="HR Manager">HR Manager</option>
                                    <option value="SME">SME</option>
                                    <option value="Applicant">Applicant</option>

                                </select>
                                <p id="msg" style="color:red"></p>
                                <br />

                                <div class="col-md-3">
                                    <input type="email" placeholder="Email Address">
                                </div>
                                <br /><br /><br /><br />
                                <div class="col-md-3">

                                    <input type="password" placeholder="Password" style="color:black"><br>
                                </div>
                                <br /><br /><br /><br />
                                <button type="submit" class="btn btn-success" >Login>></button>
                                @*<div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>*@

                            </form>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
   </div>
</div>        
<script type="text/javascript">
    function checkRole() {
        var role = document.getElementById("role").value;
        if (role == "Applicant") {
            location.href = "/Applicant";
        }
        else if (role == "HR Personal") {
            location.href = "/HRPersonnel";
        }
        else if (role == "SME") {

            location.href="/SME"
        }
        else {
            document.getElementById("msg").innerHTML = "Please Select A role";
        }

    }
</script>