
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


    <div class="container">
        <div class="row">
         
                <!-- TABS -->
                <div class="uou-tabs">


                    <div class="content">


                        <!-- REGISTER -->
                        <div id="log-in">
                            <form>
                                
                               <select id="role" style="background-color:#313131; color:white;text-align:center">
                                   <option value="">Select Role</option>
                                   <option value="HR Personal">HR Personal</option>
                                   <option value="HR Manager">HR Manager</option>
                                   <option value="SME">SME</option>
                                   <option value="Applicant">Applicant</option>

                               </select><br><br>
                                <input type="email" placeholder="Email Address">
                                
                                <input type="password" placeholder="Password"><br>
                                <button type="submit">Login</button>
                                @*<div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>*@
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
   
