
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="banr-head">
    <div class="container">
        <div class="row">

            <!-- CONTENT -->
            @*<div class="col-sm-7">
                    <div class="text-area">
                        <div class="position-center-center col-md-10">
                            <h1> Here comes the social networking platform that you’ve been waiting for</h1>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur. </h6>
                        </div>
                    </div>
                </div>*@

            <!-- FORM SECTION -->

            <div class="login-sec">

                <!-- TABS -->
                <div class="uou-tabs">


                    <div class="content">
                      
                      
                            <!-- REGISTER -->
                            <div id="register">
                                <form>

                                    <input type="text" placeholder="Full Name">
                                    <input type="email" placeholder="Email Address"><br>
                                    <input type="text" placeholder="Phone">
                                    <input type="password" placeholder="Password"><br>
                                    <button type="submit">Register</button>
                                    @*<div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>*@
                                </form>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
