
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="banr-head">
    <div class="container">
       
        <div class="row">
           


            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="text-center">
                            @*<span class="text-left">Fill with Appropriate info</span>*@
                            <span class="col-lg-offset-4"><b>Register Now</b></span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <!-- REGISTER -->
                            <div id="register"  class="banr-head">
                                <form>

                                    <input type="text" placeholder="Full Name"><br><br>
                                    <input type="email" placeholder="Email Address"><br><br>
                                    <input type="text" placeholder="Phone"><br><br>
                                    <input type="password" placeholder="Password"><br><br>
                                    <button type="submit">Register</button>
                                    @*<div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>*@
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
</div></div>
