
@{
    ViewBag.Title = "Applicants";
    Layout = "~/Views/Shared/_LayoutHRManagere.cshtml";
}

<h2>Top 5 Rated Applicants</h2>

<table class="table table-hover ;table-responsive table-bordered table-condensed">

    <tr>
        <th>
            Application#
        </th>
        <th>
            Applicant Name
        </th>
        <th>
            Department
        </th>
        <th>
            Apply Postion
        </th>
        <th>
            More Details
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            M Asif
        </td>
        <td>
            Web Development
        </td>
        <td>
            Web Developer
        </td>
        <td>
            <a href="#">More Details</a>
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Zohaib Munir
        </td>
        <td>
            Android
        </td>
        <td>
            Android Developer
        </td>
        <td>
            <a href="#">More Details</a>
        </td>



    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Zohaib Munir
        </td>
        <td>
            Android
        </td>
        <td>
            Android Developer
        </td>
        <td>
            <a href="#">More Details</a>
        </td>



    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Zohaib Munir
        </td>
        <td>
            Android
        </td>
        <td>
            Android Developer
        </td>
        <td>
            <a href="#">More Details</a>
        </td>



    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Zohaib Munir
        </td>
        <td>
            Android
        </td>
        <td>
            Android Developer
        </td>
        <td>
            <a href="#">More Details</a>
        </td>



    </tr>



</table>

