
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
}

<h2>Jobs</h2>
<table class="table table-hover ;table-responsive table-bordered table-condensed">

    <tr>
        <th>
            Sr#
        </th>
        <th>
            Job Title
        </th>
        <th>
            Department
        </th>
        <th>
            Postion
        </th>
        <th>
            Last Date of Application
        </th>
        <th>
            More Details
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
           Web Development
        </td>
        <td>
            IT Department
        </td>
        <td>
            Web Developer
        </td>
        <td>
            27/01/2017
        </td>
        <td>
            <a href="#">More Details</a>
        </td>
        <td>
            <a href="#" class="btn btn-success">Apply</a>
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Web Development
        </td>
        <td>
            IT Department
        </td>
        <td>
            Web Developer
        </td>
        <td>
            27/01/2017
        </td>
        <td>
            <a href="#">More Details</a>
        </td>
        <td>
            <a href="#" class="btn btn-success">Apply</a>
        </td>


    </tr>



</table>


