
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_LayoutSME.cshtml";
}
<div>
    <a href="/SME/ComposeEmail" class="btn btn-danger">Compose Mail</a>
</div>
<div class="row">
    <h3>Inbox</h3>

    <table class="table table-hover ;table-responsive table-bordered table-condensed">

        <tr>
            <th>
                Sr#
            </th>
            <th>
               Name
            </th>
            <th>
                Email Id
            </th>
            <th>
                Title
            </th>
            <th>
                More Details
            </th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                M Asif
            </td>
            <td>
                asif4347@icloud.com
            </td>
            <td>
                For Job
            </td>
            <td>
                <a href="#">View Mail</a>
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Zohaib Munir
            </td>
            <td>
                zohaib@gmail.com
            </td>
            <td>
                Interview Call
            </td>
            <td>
                <a href="#">View Mail</a>
            </td>



        </tr>



    </table>




</div>
